
body{
    margin: 0em;
}


h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: right;
    font-size: 18px;
    
}




a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}



#primera{
    background-image:url("../img/Grupo 22@2x.jpg");
    background-size: cover;
   
}

#segundo{
    background-color: whitesmoke;
}

#tercera{
    position: relative;
    bottom: 580px;
    border-top: 2px solid #AAAAAA;
    
}






header{
    padding-bottom: 40px;
}



#espacio{
    padding-bottom: 20px;
}


#sonido{
    position: relative;
    width: 100px;
    padding-right: 20px;
    top:15px;
    right: 30px;
}


#radio{
    padding-right: 50px;
}


.botones{
    border-radius: 66px;
    background-color: gray;
    border-color: transparent;
    color: white;
    height:30px ;
    width:180px;
}


#botonbuscar::placeholder{
    color: white;
}




#navega li{
    display:inline;
    padding-left: 65px;

}

#navegas li{
    display:inline;
    padding-left: 85px;
    

}



#navegas{
    padding-top: 40px;
    padding-bottom: 60px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


#listica{
    font-size: 20px;
}

#navega2 li{
    text-decoration: none;
    padding-right: 100px;
    list-style: none;
    padding-bottom: 10px;
    
}


#botonentrar{
    border-radius: 66px;
    border-color: white;
    background-color: transparent;
    color: white;
    width:130px;
    height:30px ;
    position: relative;
    right: 50px;
    top:15px;
    padding-left: 0;
    
}






#botonbuscar{
    border-radius: 66px;
    background-color:rgba(216,216,216,0.2);
    border-color: transparent;
    color: white;
    height:30px ;
    width:220px;
    padding-right: 0px;
    position: relative;
    top:15px;
}



.lista{
    color:white;
    position: relative;
    top:15px;
}
.listaotra{
    color:gray;
    position: relative;
    

}

#topsongs{
    color: black;
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    right: 60px;
}

#nuevassongs{
    color: black;
    font-size: 35px;
    font-weight: bolder;
    position: relative;
    left: 100px;
}





div.imgytexto img.izquierda{
    float: left;
    width: 250px;
    margin-right: 85px;
    padding-left: 75px;
}

#cuadrotexto{
    padding-left: 75px;
    width: 630px;
    padding-bottom: 100px;
    position: relative;
    bottom: 2px;
}



.post{
    width: 90px;
    height: 20px;
}


.post2{
    width: 90px;
    height: 20px;
}


div.post img.derecha{
    position: relative;
    bottom:  190px;
    left: 960px;
    width: 120px;
    
}

div.post img.izquierda{
    position: relative;
    bottom:  170px;
    left: 560px;
    width: 120px;
    
}

div.post2 img.izquierda2{
    position: relative;
    bottom:  40px;
    left: 890px;
    width: 120px;
    border-radius: 40px;
    
}




.texto1{
    position: relative;
    bottom:  78px;
    left: 870px;
}


.texto2{
    position: relative;
    top:  50px;
    left: 1020px;
    text-align: left;
}


#imagenrara{

    width: 250px;
    position: relative;
    left: 1120px;
    bottom:  355px;


}



.Tabla{
    position: relative;
    left: 55px;
    
}

#numeros{
    font-weight: bold;
    position: relative;
    bottom: 30px;
    
}



table.Tabla {
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 65%;
    height: 200px;
    text-align: left;
    border-collapse: collapse;
    
  }
  table.Tabla td, table.Tabla th {
    border: 0px solid #AAAAAA;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  table.Tabla tbody td {
    font-size: 18px;
    border-bottom: 0.5px solid #444444;
  }
  table.Tabla thead {
      border-bottom: 1px solid #444444;
  }







  table.Tabla thead th {
    font-size: 18px;
    color: #C4C4C4;
    font-weight: normal;
    text-align: left;
    padding-bottom: 20px;
    
    
    

  }
  table.Tabla tfoot {
    border-top: 2px solid grey;
  }


 #seleccionar{
    
      background: #fff;
      border-radius: 10px;
      
      border-width: 1px 1px 1px 1px;
      padding: 10px 20px 10px 20px;
      box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    
      }
    
     
#poligonos{
    position: relative;
    bottom: 30px;
    left: 20px;
}

#imagenescuadro{
    width: 30%;
}

#allne{
    font-weight: bold;
}

#corazones{
    width: 35%;
}

#numeral{
    position: relative;
    padding-left: 50px;
}

#imagenescombinadas{
    position: relative;
    bottom: 470px;
    left: 880px;

    width: 28%;

}

#cajita1{
   
    position: relative;
    bottom: 700px;
    left: 930px;
    width: 80px;
    
}

#cajita2{
    
    position: relative;
    bottom: 754px;
    left: 1110px;
    width: 80px;
    
}
#cajita3{
    
    position: relative;
    bottom: 580px;
    left: 930px;
    width: 80px;
    
}
#cajita4{
    
    position: relative;
    bottom: 635px;
    left: 1100px;
    width: 80px;
    
}

#allndi{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    
}



#jhon{
    color: black;
    font-weight: normal;
    font-size: 12px;
}


#cuadrofinal{
    position: relative;
    bottom: 500px;
    left:100px;
    width: 88%;
    border-radius: 10px;
    background-color:#e6e6e6;
    

}



#fotom{
    width: 50%;
    border: 1px gray;
}

#navegase{
    padding-top: 1px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    position: relative;
    bottom: 260px;
    left: 450px;

}

#navegase li{
    display:inline;
    padding-left: 120px;
    

}

#flechav{
    position: relative;
    left: 40px;
    
}

#circulos{
    position: relative;
    bottom: 10px;
    left: 95px;
}


#cuadroblanco{
    position: relative;
    bottom: 750px;
    left: 410px;
    
    background: #fff;
    border-radius: 10px;
    border-width: 1px 1px 1px 1px;
    padding: 10px 20px 10px 20px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
    width: 55%;
    
    

    }


table.Tablasito{
    border-collapse: collapse;
    
}




    table.Tablasito td, table.Tabla th {
        border: 0px solid #AAAAAA;
        padding-bottom: 5px;
        padding-top: 25px;
        padding-right: 40px;
      }

      table.Tablasito tbody td {
        font-size: 18px;
        border-bottom: 0.1px solid #444444;
      }



#punto{
    position: relative;
    left: 30px;
}



#numerogrande{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: #4D4D4D;
    position: relative;
    padding-left: 80px;
    
}

#numerogrande5{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    color: #4D4D4D;
    position: relative;
    padding-left: 85px;
    
}


#allnes{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    position: relative;
    left: 250px;
}


#comprar{
    
        background-color:#14c1c7;
        border-radius:28px;
        border:1px solid #fcfcfc;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size:17px;
        padding:16px 31px;
        text-decoration:none;
        text-shadow:0px 1px 0px #2f6627;
    
    
    
}
